<div class="foreground">
    <div class="center">
        <h3 data-aos="fade-up">Count Mingya</h3>
        <h4 data-aos="fade-up"><%= link_to "Scroll Down", root_path(:anchor=> "bottom") %></h4>
        <i class="fas fa-chevron-down fa-3x"></i>
    </div>
    
    <div class="bottom" id="bottom" data-aos="zoom-in">
        <div class="col-md-4">
            <h2>Artwork by:</h2>
            <h1><%= link_to "Adonis K", "https://www.instagram.com/adwnis_k/" %></h1>
        </div>
        
        <div class="col-md-4">
            <h1><%= link_to "Count Mingya", "https://www.instagram.com/count._.mingya/" %></h1>
            <h2>Official Mingstagram</h2>
        </div>
        
        <div class="col-md-4">
            <h1><%= link_to "Mingscloud", "https://www.mixcloud.com/CountMingya/" %></h1>
            <h2>Count Mingya Mixcloud</h2>
        </div>
    </div>   
    
    <div class="bottom-mobile left">
        <p>Website design by <%= link_to "Christian O'Rourke", "https://www.ccorourke.com/" %></p>
    </div>
        
</div>
